body, html {
	height: 100%;
	font-family: 'PT Serif', serif;
}

.btn{
	transition: all 0.3s ease-in-out;
}


.card{
	margin-bottom: 15px;
}

/*Media Queries*/
@media(max-width: 768px){
	#header{
		text-align: center;
	}
	#header img{
		margin:20% auto 0;
	}
	#social{
		text-align: center;
	}
	#social hr, #quem hr{
		margin: 8% auto;
	}
	#quem{
		text-align: center;
	}
	#quem img{
		margin-top: 15%;
	}
	#footer{
		text-align: center;
	}

}

.navbar{
	background-color: rgba(21,31,33,0.5); 
	border-bottom: 1px solid #dedede; 
	font-family: 'PT Serif', serif;
}

.navbar .navbar-brand{
	color:  #be2835;
}

.navbar .navbar-brand:hover{
	color:  #fff;
}

.navbar .navbar-nav .nav-link{
	color: #d1d1d1;
}

.navbar .navbar-nav .nav-link:hover{
	color: #fff;
}

.navbar-toggler-icon{
	color: #fff;
}


/*HEADER*/

#header {
	background: url(../img/bg1.jpg) center center no-repeat;
	background-size: cover;
	height: 105%;
	color: white;
	display: flex;
	align-items: center;
}

#header img {
	padding: 0 0 20px;
	width: 8%;
}

#header .header-right{
	background-color: rgba(0,0,0,0.5);
	padding: 30px;
	border-radius: 10px;
}

#header .fa{
	margin: 5% 0;
}

#header a .fa{
	color: #fff;
}

#header a .fa:hover{
	color: #d1d1d1;
}

/*SOCIAL*/

#social{
	padding: 4.25rem 0;
}

#social .fa{
	font-size: 1.5em;
	color: #be2835;
	border: 2px solid #be2835;
	width: 50px;
	height: 50px;
	border-radius: 30%;
	text-align: center;
	padding: 25% 0;
	margin-top: 10px;
	transition: all 0.2s ease-in-out;
}

#social .fa:hover {
	color: #fff;
	background: #be2835;
}

#social .btn-quem{
	background-color: #be2835;
	color: #fff;
	width: 50%;
}

#social .btn-quem:hover{
	background-color: transparent;
	border: 1px solid #be2835;
	color: #be2835;
}

/*SISTEMAS*/

#sistemas{
	padding: 5rem 0;
}

#sistemas .sistemas-img{
	position: relative;
}

#sistemas .sistemas-img .img-overlay{
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	background-image: url(../img/eye.png);
	background-position: center center;
	background-repeat: no-repeat;
	opacity: 0;
	z-index: 0;
	transition: all 0.3s ease-in-out;
}

#sistemas .sistemas-img .img-overlay:hover{
	opacity: 1;
	z-index: 1;
}

/*CLIENTES*/

#cliente{
	padding: 5rem 0;
}

#cliente .carousel-indicators li{
	background-color: #be2835;
}

#cliente .carousel-inner{
	margin-bottom: 50px;
}

#cliente .carousel-indicators{
	margin-bottom: -30px;
}

/*PLANOS*/

#planos{
	padding: 5rem 0;
	background-color: #f6f6f6;
}

#planos .card .card-header{
	background-color: #6e6e6e;
	color: #fff;
	transition: all 0.2s ease-in-out;
}

#planos .card .std{
	background-color: #be2835;
}

#planos .card .card-header:hover{
	background-color: #be2835;
}

#planos .card{
	margin-top: 20px;
}

/*CONTATO*/

#contato{
	padding: 5rem 0;
}

/*FOOTER*/

#footer{
	padding: 2rem 0;
	background-color: #484848;
	color: white;
}

#footer a{
	color: white;

}

#footer .fa{
	padding: 0 10px;
}